
img.fallingLeaves  {
  position: absolute;

    
    -webkit-animation: fallingLeaves 2s infinite  linear;
    -moz-animation: fallingLeaves 2s infinite  linear;
}

@-webkit-keyframes fallingLeaves {
  0% {
    opacity: 1;

	-webkit-transform: translate(0, 0px) rotateZ(0deg) rotateY(0deg);
  }
  75% {
    opacity: 1;

	-webkit-transform: translate(0px, 600px) rotateZ(270deg) rotateY(270deg); 
  }
  100% {
    opacity: 0;

	-webkit-transform: translate(0px, 800px) rotateZ(360deg) rotateY(360deg);
  }
}

@-moz-keyframes fallingLeaves {
  0% {
    opacity: 1;
    
	-webkit-transform: translate(0, 0px) rotateZ(0deg) rotateY(0deg);;
  }
  75% {
    opacity: 1;
   
	-webkit-transform: translate(0px, 600px) rotateZ(270deg) rotateY(270deg); ; 
  }
  100% {
    opacity: 0;
    
	-webkit-transform: translate(0px, 800px) rotateZ(360deg) rotateY(360deg);;
  }
}

